@mixin tablet {
    @media screen and (max-width: 768px) {
        @content; 
    }
}


@mixin movil {
    @media screen and (max-width: 320px){
        @content; 
    }
    
}
@mixin movil-l {
    @media screen and (max-width: 515px){
        @content; 
    }
    
}

@media (max-width:1440px) {
.tematica__imagen {
    width: 100%;
}
.tematica__imagen__texto {
    font-size: 40px;
}
}
@media (max-width:767px) {
.tematica__imagen__texto {
    font-size: 30px;
}
}
@media (max-width:515px) {
.tematica__imagen__texto {
    font-size: 25px;
}
.footer {
    flex-wrap: wrap;
    height: 400px;
}
.tituloPrincipal {
    font-size: 35px;
}
}
@media (max-width:375px) {
.tematica__imagen {
    width: 100%;
}
}
